.container{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 300px;
  .action-buttons{
    display: flex;
    justify-content: space-around;
  }
  .flatpickr-input{
    border-radius: 4px;
    width: 100%;
  }
}
